.container {
   max-width: 50rem;
   margin: 2rem;
   padding: 2rem;
   background-color: lightgreen;
   border-radius: 25px;
}

.booksText {
   color: darkgreen;
   text-align: left;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: xx-large;
   font-style: italic;
}

.booksHeading {
   padding: 20px;
   background-color: darkgreen;
   border-radius: 10px;
   color: white;
   font-size: xx-large;
   text-align: left;
}

.booksImg {
   height: 200px;
   background-color: white;
   padding: 10px;
}