.container {
   max-width: 20rem;
   margin: 2rem;
   padding: 2rem;
   background-color: aqua;
   /* border: 3px blue solid; */
   border-radius: 25px;
}

.movieText {
   color: darkblue;
   text-align: left;
   font-size: xx-large;
}

.movieHeading {
   padding: 20px;
   background-color: darkblue;
   border-radius: 10px;
   color: white;
   text-align: left;
   font-size: xx-large;
}